<!doctype html>
<html lang="en-ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">

    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">

    <title>Studetns List</title>

</head>

<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <ui class="nav-item">
            <a class="nav-item nav-link active"
               href="courses.html"
               th:href="@{/courses}">Courses</a>
        </ui>
        <ui class="nav-item">
            <a class="nav-item nav-link active"
               href="students.html"
               th:href="@{/students}">Students</a>
        </ui>
    </nav>

    <nav id="main-header"
              class="py-1 mb-3 navbar navbar-expand-sm navbar-light text-danger">
    <span class="navbar-brand text-uppercase mr-auto"><p class="font-weight-bold"><h3>students</h3></p></span>
    <ul class="navbar-nav float-right">
        <li class="nav-item">
            <a href="student.html"
               th:href="@{/student}"
               class="btn btn-light"
               data-toggle="tooltip"
               data-placement="left"
               title="Add student">
                <i class="fas fa-user-friends"></i> <i class="fas fa-plus"></i><span
                    class="d-none d-sm-inline">&nbsp;&nbsp;&nbsp;Add Student</span></a>
        </li>
    </ul>
</nav>
    <hr>

</header>

<hr>

<section id="students">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card" >
<!---->
                    <table class="mb-2 table table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th  th:text="#{student_id}">student Id</th>
                            <th th:text="#{student}">Student</th>
                            <th th:text="#{course}">Course</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="student : ${students}">
                            <td th:text="${student.studentId}"></td>
                            <td th:text="${student.studentName}"></td>
                            <td th:each="course : ${courses}"
                                th:if="${student.courseId == course.courseId}"
                                th:text="${course.courseName}"></td>
                            <td class="text-right">

                                <a href="student.html"
                                   th:href="@{|/student/${student.studentId}|}"
                                   class="btn btn-light btn-sm"
                                   title="Edit student"
                                   data-toggle="tooltip"
                                   data-placement="top">
                                    <i class="fas fa-user-edit"></i> <span
                                        class="d-none d-md-inline">&nbsp;&nbsp;Edit&nbsp;&nbsp;</span></a>
                                <a href="#"
                                   data-toggle="modal"
                                   data-target="#deleteDialog"
                                   th:attr="data-id=${student.studentId}, data-name=${student.studentName}"
                                   title=" Delete course">
                                    <i class="fas fa-user-minus"></i>
                                    <span class="d-none d-md-inline">&nbsp;&nbsp;Delete</span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<p></p>

<hr>

<footer>
    <nav class="pl-2 navbar navbar-expand-sm navbar-dark bg-dark text-light  p-0">
        <p>&copy; Brest Java Course Summer 2019 </p>
    </nav>
</footer>

<!-- Confirm delete Modal -->
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h5 class="modal-title" id="exampleModalLabel">Delete student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please confirm delete student
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="deleteUrl" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    $('#deleteDialog').on('show.bs.modal', function (event) {
        var target = $(event.relatedTarget)
        $(this).find('.modal-body').text(target.data('name'))
        document.getElementById('deleteUrl').href = '/student/' + target.data('id') + '/delete';
    })
</script>

</body>
</html>