<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
    <title th:text="#{courses}">Courses List</title>

<body>

<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <ui class="nav-item">
            <a class="nav-link " href="Students.html">Students</a>
        </ui>
        <ui class="nav-item">
            <a class="nav-link" href="#">Courses</a>
        </ui>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Courses</h3>
        </div>
        <div class="col col-lg-2">
            <a type="button" class="btn btn-success" href="Course.html">Add new course</a>
        </div>
    </div>
</div>


<div class="container table-responsive-md">
    <table class="table table-bordered  table-hover">
        <caption>Number of courses : 4</caption>
        <thead class="thead-dark">
        <tr>
            <th scope="col-lg">#</th>
            <th scope="col">Course</th>
            <th scope="col">Speaker</th>
            <th scope="col">number of students</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Math</td>
            <td>Stiven Spilberg</td>
            <td>18</td>
            <td>
                <a class="btn" href="Course.html">
                    <img src="img/1.jpg" width="30" height="30" alt="edit" >
                </a>
                <a class="btn" data-toggle="modal" data-target="#exampleModalCenter" >
                    <img src="img/del.jpeg" width="30" height="30" alt="del" >
                </a>
                <a class="btn btn-info" href="Students.html">more</a>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>FA</td>
            <td>Silvestr Staloney</td>
            <td>12</td>
            <td>
                <a class="btn" href="Course.html">
                    <img src="img/1.jpg" width="30" height="30" alt="edit" >
                </a>
                <a class="btn" data-toggle="modal" data-target="#exampleModalCenter" >
                    <img src="img/del.jpeg" width="30" height="30" alt="del" >
                </a>
                <a class="btn btn-info" href="Students.html">more</a>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Dance</td>
            <td>Tatjana Navka</td>
            <td>183</td>
            <td>
                <a class="btn" href="Course.html">
                    <img src="img/1.jpg" width="30" height="30" alt="edit" >
                </a>
                <a class="btn" data-toggle="modal" data-target="#exampleModalCenter" >
                    <img src="img/del.jpeg" width="30" height="30" alt="del" >
                </a>
                <a class="btn btn-info" href="Students.html">more</a>
            </td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Art</td>
            <td>Leonardo da Vinci</td>
            <td>1</td>
            <td>
                <a class="btn" href="Course.html">
                    <img src="img/1.jpg" width="30" height="30" alt="edit" >
                </a>
                <a class="btn" data-toggle="modal" data-target="#exampleModalCenter" >
                    <img src="img/del.jpeg" width="30" height="30" alt="del" >
                </a>
                <a class="btn btn-info" href="Students.html">more</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>Are you sure?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" >YES</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" >NO</button>
            </div>
        </div>
    </div>
</div>

<footer>
    <hr/>
    <p class="text-center">&copy; 2019</p>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>